.mainInput
  float: right
  position: absolute
  bottom: 0
.inputMsg
  margin: 0 0 .2em 1.2em
  border-radius: 1.4em
  font-size: 1.4em
  height: 2.7em
  width: 20em
  border: 1px solid #c8cccf
  color: #6a6f77
  outline: 0
