.btn
  display inline-block
  width auto
  padding: 12px 24px
  border-radius: 2px
  border  none
  background-color: inherit;
  color: inherit;
  &.disabled,
  &[disabled],
  &.disabled:hover,
  &.disabled:active,
  &[disabled]:hover,
  &[disabled]:active
    background-color: #C6C6C6;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.20);
    border-radius: 2px;

.btn-create
  background-color: #28B162;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.20);
  font-size: 16px;
  line-height: 16px;
  color: rgba(255,255,255,0.99);
  padding-left: 47px;
  background-image: url(../../assets/images/icon-add.png);
  background-repeat: no-repeat;
  background-position: 24px center;
  &:hover
    background-color: #1D914E;
    color: rgba(255,255,255,0.99);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.20);
  &:active
    background-image: url(../../assets/images/icon-add.png);
    background-color: #187E43;
    color: rgba(255,255,255,0.99);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.20);

.btn-success
  background-color: #28B162;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.20);
  font-size: 16px;
  line-height: 16px;
  color: rgba(255,255,255,0.99);
  &:hover
    background-color: #1D914E;
    color: rgba(255,255,255,0.99);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.20);
  &:active
    background-color: #187E43;
    color: rgba(255,255,255,0.99);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.20);

.btn-primary
  background-color: #357AFF;
  font-size: 16px;
  line-height: 16px;
  color: rgba(255,255,255,0.99);
  &:hover
    background: #1B60E3;
  &:active
    background: #225AC3;

.btn-default
  border: 1px solid #E4E4E4;
